*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(246,248,249);
  font-family: 'Roboto', sans-serif;
}
#logo{
  vertical-align: middle;
}
#title{
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
}
header{
  background-color: white;
  padding: 10px;
  margin-bottom: 50px;
  
}
main{
  width: 60%;
  margin: 0 auto;
}
.buttons-container{
  background-color: white;
  padding: 15px 40px;
}
.add-task{
  background-color: rgb(65,170,240);
  border: solid 3px rgb(65,170,240);
  font-size: 20px;
  padding: 8px;
  color: white;
  border-radius: 8px;
}
.add-section{
  background-color: white;
  color: rgb(206, 208, 208);
  border: solid 3px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}
.tasks-container{
  background-color: white;
  margin: 5px 0;
  padding: 20px;
}
ul li{
  list-style-type: none;
  font-size: 30px;
  padding: 15px;
}
ul li ul li{
  font-size: 20px;
  padding: 10px 0;
}
#group-task::before{
content: "\25BE";
color: black;
}
#done::before{
  content: "\2714";
  color: green;  
  border: solid 1px green;  
  padding: 1px 5px;
  border-radius: 50%;
  margin-right: 8px;
}
#not-done::before{
  content: "\2718";
  color: red;
  border: solid 1px red;
  padding: 1px 5px;
  border-radius: 50%;
  margin-right: 8px;
}
ul li span{
  border: solid 1px;
  color: white;
  border-radius: 13px;
  margin-left: 15px;
  padding: 6px 12px;
  font-size: 15px;
}
#editorial-group{
  background-color: rgb(65,170,240);
}
#Q1-group{
  background-color: rgb(156,114,228);
}
#recruiting-group{
  background-color: rgb(100,192,169);
}
#mobiles-group{
  background-color: rgb(242,158,51);
}
#website-group{
  background-color: rgb(216,99,161);
}
#sales-group{
  background-color: rgb(176,201,38);
}